body{
    background-color: #d6eaf8;
    font: 15px/1.5;
    font-family:Arial, Helvetica, sans-serif;
margin: 0px;
padding: 0px;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.submitlast
{
    text-align: center;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.incontainer{
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: lightcyan;}

.internal-container{
    width: 30%;
    margin-left: 380px;
    margin-bottom: 30px;
    overflow: hidden;
}
.form-control
{
    width: 400px;
    min-height: 20px;

}

ul{
    margin: 0;
    padding: 0;

}
header{
    background-color:#73C6B6;
    color: #ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#229954 3px solid;

}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;

}
header li{

    display: inline;
    padding: 0 20px 0 20px;
}
header #branding
{
    float: left;
}
header #branding h1{
    margin:0;
}
header nav{
    float: right;
    margin-top:10px;
}
header .highlight, header .current a{
    color:#2C3E50;
    font-weight:bold;
}
header a:hover{
    color:#16A085;
    font-weight: bold;
}
#showcase{
    min-height:380px;
    background:url("/img/showcase10.jpg") no-repeat  0 10px;

    width:100%;
   
    background-size: 100%;
    text-align:center;
    columns: #16a085;
}


#showcase_reg{
    min-height:380px;
    width:100%;
    background:url("/img/reg1.jpg") no-repeat 0 10px;
    width:100%;
    background-size: 100%;
    text-align:center;
    columns: #16a085;
}


#showcase h1{
    margin-top:30px;
    font-size: 55px;
    margin-bottom: 10px;

}

#showcase p{
    font-size: 25px;
    margin-top:2px;

}


#getICT{
    padding:15px;
    color:rgb(39, 110, 96);
    background: #73C6B6;

}
#getICT h1{
    float:left;
}
#getICT form{
    float:right;
    margin-top:15px;

}
#getICT input[type="email"]{
    padding:4px;
    height:25px;
    width:300px;

}
.button1{
    height:38px;
    background: #2c3e50;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color: #ffffff;
    
}

#trainings
{
    margin-top: 20px;
}
#trainings .box
{
    float:left;
    text-align:center;
    width: 30%;
    padding: 10px;
}

#trainings .box img
{
    width:90px;

}
footer{
    padding:20px;
    margin-top:20px;
    color: #ffffff;
    background-color: #349783;
    text-align: center;

}
.labels{
    float:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;
    font-weight: 480;
    color: bisque;
}

